.texts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 86vh;
    /* background-color: #1f242d; */
}
.text{
    width: 50%;
    color: white;
}
h3{
    font-size: 30px;
}
h2{
    font-size: 50px;
}
span{
    color: #00eeff;
}
.photo {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 30%; 
    height: 100%;
}

.photo img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover; 
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 1%; 
    padding: 2%;
    /* border-radius: 50%; */
    /* overflow: hidden;  */
}
.icons img {
    border: white 2px solid;
    width: 20%;
    border-radius: 25px;
    padding: 10px;
    object-fit: fill;
}

.button{
    border: #08b9c8 1px solid;
    width: 20%;
    text-align: center;
    margin-top: 5%;
    border-radius: 50px;
    background-color: #00eeff;
    color: black;
    padding: 1%;
}


